<div class="mb-3">
  <div class="d-flex align-items-center">
    <h1>
      <%= @the_board.name %>
    </h1>
    <button type="button" class="btn btn-outline-success ms-auto" data-bs-toggle="modal" data-bs-target="#postFormModal">
      Add a new post
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="postFormModal" tabindex="-1" aria-labelledby="postFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="postFormModalLabel">New post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_post" method="post">
          <div>
            <label for="title_box" class="form-label">
              Title
            </label>
            <input type="text" id="title_box" name="query_title" class="form-control mb-3" aria-describedby="postTitleFormBlock" >
          </div>
          <div>
            <label for="body_box" class="form-label">
              Body
            </label>
            <textarea id="body_box" name="query_body" rows="3" class="form-control mb-3" aria-describedby="postBodyFormBlock" ></textarea>
          </div>
          <div>
            <label for="expires_on_box" class="form-label">
              Expires on
            </label>
            <input type="date" id="expires_on_box" name="query_expires_on" class="form-control mb-3" aria-describedby="postBodyFormBlock">
          </div>
          <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">
          <div class="d-grid gap-2">
            <button class="btn btn-primary">
              Add post
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- used to create tab layout-->
<ul class="nav nav-tabs nav-fill mb-3" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-posts-tab" data-bs-toggle="tab" data-bs-target="#active-posts-tab-pane" type="button" role="tab" aria-controls="active-posts-tab-pane" aria-selected="true">Active posts (<%= @active_posts.count%>)</button>
  </li>
  <li class="nav-item nav-fill" role="presentation">
    <button class="nav-link" id="expired-posts-tab" data-bs-toggle="tab" data-bs-target="#expired-posts-tab-pane" type="button" role="tab" aria-controls="expired-posts-tab-pane" aria-selected="true">Expired posts (<%= @expired_posts.count %>)</button>
  </li>
</ul>

<!-- actual content of tabs go here -->
<div class="tab-content" id="myTabContent">
  <!-- content for active tab -->
  <div class="tab-pane fade show active" id="active-posts-tab-pane" role="tabpanel" aria-labelledby="active-posts-tab" tabindex="0">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @active_posts.each do |post| %>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1 class="h6 my-1"><%= post.title %></h1>
            <div>Expires on <%= post.expires_on.strftime("%b %e, %Y") %></div>
          </div>
          <div class="card-body">
            <%= post.body %>
          </div>
          <div class="card-footer">
            Posted on <%= post.created_at.strftime("%b %e, %Y") %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <!-- content for expired tab -->
  <div class="tab-pane fade" id="expired-posts-tab-pane" role="tabpanel" aria-labelledby="expired-posts-tab" tabindex="0">
    <table class="table table-striped table-bordered table-hover">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Posted on</th>
        <th>Expired on</th>
      </tr>

      <% @expired_posts.each do |a_post| %>
        <tr>
          <td><%= a_post.title %></td>
          <td><%= a_post.body %></td>
          <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
          <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
